 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
  }
  
  .navbar ul li {
    margin: 0 15px;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .navbar ul li a:hover {
    color: #00c6ff;
  }
  